{% extends "layoutEmp.html" %}
{% block style %}


.btn-remove {
    border: 2px solid red;
    border-radius: 10px;
}
.btn-remove:hover {
    background-color: red;
    color: white;
}
.btn-edit {
    border: 2px solid yellow;
    border-radius: 10px;
}
.btn-edit:hover {
    background-color: yellow;
}
.product-table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.row {
    margin-left: auto;
    margin-right: auto;
}
.product-data {
    text-align: center;
    width: 32%;
    border-radius: 15px;
    margin: 5px;
    <!-- background-color: #E1F5F8; -->
}
.td-div {
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.td-div:hover {

}
.product-data-p {
    text-transform: capitalize;
}
.product-data-strong {
    text-transform: capitalize;
}
body {
  background-color: LightBlue;
}
{% endblock %}

<!-- <button class="btn btn-outline-success" type="submit">Szukaj</button> -->
{% block body %}
<br>
<table class="product-table">  <!-- style="width:100%;" -->
    {% for rowList in productList%}
    <tr class="row">
        {% for product in rowList%}
        <td class="product-data" style="background-color: {{product.isAvailable()}};">
            <div class="td-div">
                <div class="td-line"><p>id: {{product.getProductID()}}</p></div>
                <div class="td-line"><strong class="product-data-strong">{{product.getCategory()}}</strong></div>
                <div class="td-line-name"><p class="product-data-p">{{product.getName()}}</p></div>
                <div class="td-line"><p>{{product.getPrice()}} zł</p></div>
                <div class="td-line"><p>{{product.getAmount()}}</p></div>
                <form method="post" action="/emp">
                    <div class="td-line">
                    {% if modify %}
                    <button type="submit" class="btn btn-remove" name="remove.{{product.getProductID()}}">Usuń</button>
                    {% endif %}
                    <button type="submit" class="btn btn-edit" name="edit.{{product.getProductID()}}">Edytuj</button>
                    </div>
                </form>
            </div>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}