{% extends "layout.html" %}

{% block style %}
.order-table {
    width: 100%;
}
.order-data-category {
    text-transform: capitalize;
}
.order-data-price {
}
.order-data-name {
    text-transform: capitalize;
}
.order-data {
    width: 25%;
}
.row {
    margin: 15px;
}
.btn {
    border: 1px solid green;
}
.btn:hover {
    color: white;
    background-color: green;
}
.btn-buy {
    background-color: #77FFBB;
}
.none-info {
    color: #220022
    position: absolute;
    margin: auto;
    text-align: center;
    font-size: large;
}
.row:hover {
    background-color: AliceBlue;
}
.th {

    width: 25%;
}
th:hover {
    color: grey;
}
{% endblock %}


{% block body %}
{% if basketEmpty %}
<br>
<br>
<br>
<br>
<div class="none-info">Nie masz jeszcze żadnego produktu w koszyku</div>
{% else %}
<form method="post" action="/basket">
    <table class="order-table">  <!-- style="width:100%;" -->
        <tr class="row">
            <th class="th">Kategoria</th>
            <th class="th">Produkt</th>
            <th class="th">Cena</th>
            <th class="th">Akcja</th>
        </tr>
        {% for order in orderList%}
        <tr class="row">
            <td class="order-data">
                <strong class="order-data-category">{{order[2]}}</strong>
            </td>
            <td class="order-data">
                <h6 class="order-data-name">{{order[1]}}</h6>
            </td>
            <td class="order-data">
                <h6 class="order-data-price">{{order[3]}} zł</h6>
            </td>
            <td class="order-data">
                <button type="submit" class="btn btn-remove-from-basket" name="remove.{{order[4]}}">Usuń z koszyka</button>
            </td>
        </tr>
        {% endfor %}
        <tr class="row">
            <td class="order-data">
            </td>
            <td class="order-data">
                <h5 class="total-price">Suma:</h5>
            </td>
            <td class="order-data">
                <h5 class="total-price">{{totalPrice}} zł</h5>
            </td>
            <td class="order-data">
                <button type="submit" class="btn btn-buy" name="buyAll">Zamów wszystko</button>
            </td>
        </tr>
    </table>
</form>
{% endif %}
{% endblock %}
