{% extends "layout.html" %}

{% block style %}
. {
    width: 100%;
    position: absolute;
    margin: auto;
    text-align: center;
}
.order-history-table {
    margin-left: 5px;
}
.tr:hover {
    background-color: AliceBlue;
}
.none-info {
    color: #220022
    position: absolute;
    margin: auto;
    text-align: center;
    font-size: large;
}
{% endblock %}


{% block body %}
{% if shopHistEmpty %}
<br>
<br>
<br>
<br>
<div class="none-info">Nie masz jeszcze żadnych zamówień</div>
{% else %}

<table class="order-history-table">  <!-- style="width:100%;" -->
    {% for order in shopHist%}
    <tr class="tr">
        <td class="td">
            <strong class="order-data-text">
                {{order.toString()}}
            </strong>
        </td>
    </tr>
    {% endfor %}

</table>
{% endif %}

{% endblock %}
