{% extends "layoutLogin.html" %}
{% block style %}
    table {
      <!-- border: 1px solid black; -->
      <!-- border-collapse: collapse; -->

    }
    th, td {
      border-collapse: collapse;
      padding: 15px;
    }
    input {
        width:90%;
    }
    tr {
        padding: 2px;
    }
    * {
        text-align: center;
        padding: 10px;
    }
{% endblock %}

{% block body %}
<form method="post" action="/empLogin">
        <h2>Logowanie</h2>
        <table style="width:100%;">
            <tr>
                <td>
                    <label for="email">Email:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="email" name="email-input" id="email" placeholder="abc@abc.abc" required/>
                </td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Hasło:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" name="password-input" id="password" required/>
                </td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="login" value="Zaloguj" style="width:40%;"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
