{% extends "layout.html" %}
{% block style %}
.licznik {
    padding: 0px;
    margin-bottom: 0px;
    width: 2%;
    height: 20px;
    left: 30px;
    position: static;
    border: 2px solid red;
    border-radius: 50%;
}
{% endblock %}


{% block body %}
<form method="post" action="/login">
    <table style="width:100%;">
        {% for i in range(columnListLen)%}
        <tr>
            <td>
                <p></p>
            </td>
        </tr>
        {% endfor %}
    </table>
</form>

    <p>aaaaaaaaaaaaaaaahahah {{loggedID}}</p>

    {% for product in productList%}
        <p class="produkt"> {{product.toString()}}</p>
    {% endfor %}
{% endblock %}