{% extends "layoutLogin.html" %}
{% block style %}

{% endblock %}

{% block body %}
<form method="post" action="/login">
        <h2>Logowanie</h2>
        <table style="width:100%;">
            <tr>
                <td>
                    <label for="email">Email:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="input" type="email" name="email-input" id="email" placeholder="abc@abc.abc" required/>
                </td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Hasło:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="input" type="password" name="password-input" id="password" required/>
                </td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    <input class="btn" type="submit" name="login" value="Zaloguj"/>
                </td>
            </tr>
            <tr>
                <td>
                    <a href=/register><button class="btn btn-register" type="button" name="register">Zarejestruj się</button></a>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
